.card .title {
    font-family: 'Montserrat', sans-serif;
}

.card .text {
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 2rem;
}