.otherInstruc {
    margin: 2rem;
}

.title-oip {
    font-family: 'Montserrat', sans-serif;
}

.switches-oip {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.switch-oip {
    display: flex;
    align-items: center;
}

.switch-label-oip {
    font-family: 'Inconsolata', monospace;
}

.flex-oip {
    display: flex;
    align-items: center;
}

.dropdown-row-oip {
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8D7F1;
    margin: auto;
}

.dropdown-oip {
    font-family: 'Inconsolata', monospace;
}

.left-div-oip {
    width: 50%;
    height: 500px;
    float: left;
    align-items: center;
    justify-content: center;
}

.right-div-oip {
    width: 50%;
    height: 500px;
    float: right;
    align-items: center;
    justify-content: center;
}