.otherInstruc {
    margin: 2rem 4rem;
}

.title-oip {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

.switches-oip {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.switch-oip {
    display: flex;
    align-items: center;
}

.switch-label-oip {
    font-family: 'Inconsolata', monospace;
    color: #404040;
}

.flex-oip {
    display: flex;
    align-items: center;
}

.dropdown-row-oip {
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4EDD2;
    margin: auto;
}

.dropdown-oip {
    font-family: 'Inconsolata', monospace;
}

.left-div-oip {
    width: 50%;
    height: 500px;
    float: left;
    align-items: center;
    justify-content: center;
}

.right-div-oip {
    width: 50%;
    height: 500px;
    float: right;
    align-items: center;
    justify-content: center;
}

.row-label {
    font-family: 'Inconsolata', monospace;
    color: #404040;
}

.left-div-oip .card .title {
    margin-top: 3rem;
}

