.other-instructions {
    margin: 2rem;
}

.infos-oiip {
    margin-bottom: 2rem;
}

.left-div-oiip {
    width: 45%;
    height: 500px;
    float: left;
    align-items: center;
    justify-content: center;
}

.right-div-oiip {
    width: 50%;
    float: right;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.left-div-oiip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;
}
