.arithmetics-info {
    margin: 2rem;
}

.infos-aip {
    margin-bottom: 2rem;
}

.left-div-aip {
    width: 45%;
    height: 500px;
    float: left;
    align-items: center;
    justify-content: center;
}

.right-div-aip {
    width: 50%;
    float: right;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.left-div-aip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;
}

.blank {
    color: #ffffff;
}
