.arithmeticsPage {
    margin: 2rem;
}

.switch-ap {
    left: 91%;
}

.instrucTitle-ap {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-row-ap {
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8D7F1;
    margin: auto;
}

.dropdown-ap {
    font-family: 'Inconsolata', monospace;
}