.footer {
    position: fixed;
    background-color: #6E4E97;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
}

.copyright {
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}