.branchPage {
    margin: 2rem;
}

.imediate-switch-bp {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.switch-label-bp {
    font-family: 'Inconsolata', monospace;
}

.instrucTitle-bp {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-row-bp {
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8D7F1;
    margin: auto;
}

.dropdown-bp {
    font-family: 'Inconsolata', monospace;
}

.left-div-bp {
    width: 50%;
    height: 500px;
    float: left;
    align-items: center;
    justify-content: center;
}

.right-div-bp {
    width: 50%;
    height: 500px;
    float: right;
    align-items: center;
    justify-content: center;
}