.scrollView {
    background-color: #E8D7F1;
    width: auto;
    height: 50%;
    margin: 1rem;
    overflow-y: scroll;
    border-radius: 20px;
}

.intrucInfo {
    margin: 2rem;
    font-family: 'Inconsolata', monospace;
    line-height: 1.5rem;
    color: #404040;
    text-align: justify;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.intrucInfo::-webkit-scrollbar {
    display: none;
}
